$tan : #FAEBDC;
$dark-tan : #EDD8C7;
$pink : #FAE7E2;
$orange : #FA5537;
$brown : #9B2434;
$dark-brown : #863527;

$background-gradient : linear-gradient($dark-tan 30px, 50px, $tan 100px);

$font-size1 : 5.2vw;
$font-size2 : 4vw;
$font-size3 : 2.4vw;
$font-size4 : 1.8vw;
$font-size5 : 1.2vw;
$title-font: "Adorn Copperplate", "Balthazer", serif;
$paragraph-font: "Meno Banner", "Playfair Display", serif;
$misc-font: "Libre Franklin", sans-serif;

$transition-time: 300ms;
$transition-type: ease-in;

@font-face {
  font-family: "Adorn Copperplate";
  src: url("./fonts/adorn-copperplate.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Meno Banner";
  src: url("./fonts/meno-banner/MenoBanner-Light.otf");
}

.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.libre-franklin {
   font-family: "Libre Franklin", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

body {
  background-color: $tan;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

@keyframes text-load {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  70% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes wipe {
  0% {
    opacity: 1;
    -webkit-mask-position: 100%;
  }

  70% {
    -webkit-mask-position: 30%;
  }

  100% {
    opacity: 1;
    -webkit-mask-position: 0;
  }
}

body {
  overflow-x: hidden;
}

.app {

  display: flex;
  justify-content: center;

  .container {

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN

    .auth {

      font-family: $paragraph-font;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 30% 0;
      box-shadow: 0 0 40px 40px $dark-tan;
      width: 100%;
      height: auto;

      animation: text-load $transition-time $transition-type;

      h1 {
        font-family: $title-font;
        font-size: $font-size3;
        color: $orange;
        margin-bottom: 0;
        margin-top: 0;
        align-items: center;
        justify-content: center;
      }

      h1, form {
        background-color: $pink;
        width: 100%;
        gap: 4%;
        display: flex;
        flex-direction: column;
        padding: 7%;
      }

      form {

        input {
          font-family: $misc-font;
          font-size: $font-size4;
          background-color: white;
          padding: 4%;
          border: none;
          border-bottom: 1px solid $pink;
        }

        button {
          font-family: $misc-font;
          padding: 4%;
          border: none;
          background-color: $dark-brown;
          color: white;
          cursor: pointer;
          font-size: $font-size4;
        }

        p {
          background-color: $pink;
          font-family: $paragraph-font;
          font-size: $font-size4;
          color: $orange;
          text-align: center;
          margin-top: 20%;
        }
      }
    }

    // NAVBAR

    .navbar-mobile {
      display: none;
    }

    .navbar {

      font-family: $paragraph-font;
      color: $dark-brown;
      background-color: $pink;
      min-width: 100vw;
      height: 10%;
      //padding-bottom: 2%;

      .navbar-container {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pink;
        height: 12%;

        top: 0;
        width: 100%;

        .links {
          background-color: $pink;
          display: flex;
          //gap: 0;
          align-items: center;
          padding-top: 10%;

          // Underline from left

          .hvr-underline-from-left {
            display: inline-block;
            position: relative;
            color: $dark-brown;
          }

          .hvr-underline-from-left:after {
            content: '';
            position: absolute;
            width: 70%;
            transform: scaleX(0);
            height: 1.4px;
            bottom: -7px;
            left: 15%;
            background-color: $dark-brown;
            transform-origin: bottom right;
            transition: transform 200ms ease-out;
          }

          .hvr-underline-from-left:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          .hvr-underline-from-left-orange {
            display: inline-block;
            position: relative;
            color: $orange;
          }

          .hvr-underline-from-left-orange:after {
            content: '';
            position: absolute;
            width: 70%;
            transform: scaleX(0);
            height: 1.4px;
            bottom: -7px;
            left: 15%;
            background-color: $orange;
            transform-origin: bottom right;
            transition: transform 200ms ease-out;
          }

          .hvr-underline-from-left-orange:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          img { // logo
            width: 35%;
            height: auto;
            background-color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 38%;
            font-size: 0;
          }

          h5 {
            font-size: $font-size4;
            color: $dark-brown;
          }

          h6 {
            font-size: $font-size5;
            color: $orange;
          }

          span {
            cursor: pointer;
          }

          .admin {
            width: 7%;
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .link {
            color: $dark-brown;
            background-color: $pink;
            margin: 0;
            padding: 0;
            width: 120px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .insta {
            background-color: $pink;
            margin: 0;
            padding: 0;
          }

          .link1 {
            animation: text-load $transition-time $transition-type;
          }
          .link2 {
            animation: text-load $transition-time $transition-type 50ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
          .link3 { // logo
            animation: text-load $transition-time $transition-type 250ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
          .link4 {
            animation: text-load $transition-time $transition-type 400ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
          .link5 {
            animation: text-load $transition-time $transition-type 450ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
        }
      }
    }

    // HOMEPAGE

    .home {

      background-image: $background-gradient;

      .title-container {

        color: $brown;
        display: table;
        padding: 23% 8%;
        float: left;
        text-align: center;

        h1 {
          font-family: $title-font;
          font-size: $font-size1;
          margin-bottom: 0;
          animation: text-load $transition-time $transition-type;

          .first-letter {
            font-size: 1.3em;
          }
        }

        h2 {
          font-family: $paragraph-font;
          font-size: $font-size3;
          margin-top: 0;
          vertical-align: middle;
          animation: text-load $transition-time $transition-type;
        }

      }

      .flowers {

        display: flex;
        align-items: center;
        justify-content: right;
        padding: 4% 8%;
        animation: wipe 1s $transition-type;

        opacity: 0;
        -webkit-mask-image: linear-gradient(to left, #0000 50%, #000 51%);
        -webkit-mask-size: 500%;
        animation-fill-mode: forwards;

        img {
          width: 120%;
          height: auto;
        }
      }
    }

    // ABOUT PAGE

    .about {

      background-image: $background-gradient;

      .half-moon-bay {

        color: $brown;
        display: table;
        padding: 4% 4%;
        text-align: center;

        animation: wipe 1s $transition-type;

        opacity: 0;
        -webkit-mask-image: linear-gradient(to left, #0000 50%, #000 51%);
        -webkit-mask-size: 500%;
        animation-fill-mode: forwards;

        img {
          width: 100%;
          animation: text-load $transition-time $transition-type;
        }
      }

      .about-container {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;

        img {
          width: 30%;
        }
      }

    }

    // POSTS

    .posts {

      background-image: $background-gradient;

      padding: 3% 3%;
      display: flex;
      flex-direction: row;
      gap: 40px;

      .post {

        display: flex;
        flex-direction: column;
        gap: 10%;

        .image {
          display: inline-block;
          overflow: hidden;
        }

        .image img {

          width: 100%;
          height: 400px;
          object-fit: cover;
          display: block;
          transition: $transition-time ease-in-out;

          animation: wipe 1s $transition-type;
          opacity: 0;
          -webkit-mask-image: linear-gradient(to left, #0000 50%, #000 51%);
          -webkit-mask-size: 500%;
          animation-fill-mode: forwards;

        }

        .image:hover img {
          transform: scale(1.07);
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-family: $title-font;
            font-size: $font-size3;
            color: $dark-brown;
            animation: text-load $transition-time $transition-type;
          }

          p {
            font-family: $paragraph-font;
            font-size: $font-size4;
            color: $orange;
            animation: text-load $transition-time $transition-type;
          }
        }
      }
    }

  }

  @media (max-width: 786px) { // for mobile devices and tablets

    .container {

      .navbar {
        display: none;
      }

      .navbar-mobile {

        font-family: $paragraph-font;
        color: $dark-brown;
        background-color: $pink;
        min-width: 100vw;
        height: 5%;
        display: flex;
        padding: 8% 8%;

        .navbar-container {

          .logo {

            padding: 0 0;
            align-items: center;
            justify-content: center;
            height: 7%;
            position: absolute;
            top: 0;
            width: 100%;
            animation: text-load $transition-time $transition-type;

            img {
              padding: 10% 25%;
              font-size: 0;
              width: 38%;
            }

          }
        }

        .navbar-container-open {

          padding: 0 0;
          margin-left: -8%;
          display: block;
          align-items: center;
          justify-content: center;
          position: absolute;
          background-color: $pink;
          color: $orange;
          height: 160%;
          top: 20%;
          width: 100%;
          z-index: 1;

          .links {

            .link {

              font-size: $font-size1;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 0;
              margin-top: 5%;

              animation: text-load $transition-time $transition-type;
            }
          }

        }

      }

      .home {

        .title-container {
          width: 100%;
          padding: 0 0;

          h1 {
            font-size: 4em;
          }

          h2 {
            font-size: $font-size2;
          }
        }

        .flowers {

          img {
            width: 100%;
          }
        }
      }

      .about {
        .about-container {
          flex-direction: column;

          img {
            width: 92%;
            padding: 2% 0;
          }
        }
      }

      .posts {
        flex-direction: column;

        .post {

          .content {

            h1 {
              font-size: $font-size1;
            }

            p {
              font-size: $font-size2;
            }
          }
        }
      }
    }
  }
}
