$tan : #FBECDC;
$dark-tan : #EDD8C7;
$pink : #FAE7E2;
$orange : #FA5537;
$brown : #863527;
$dark-brown : #362117;

$font-size1 : 140px;
$font-size2 : 70px;
$font-size3 : 40px;
$font-size4 : 30px;
$font-size5 : 18px;
$title-font: "Balthazar", serif;
$paragraph-font: "Playfair Display", serif;
$misc-font: "Libre Franklin", sans-serif;

.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.libre-franklin {
   font-family: "Libre Franklin", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

body {
  background-color: $tan;
}

/* Underline From Left */
.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

.app{

  display: flex;
  justify-content: center;

  .container {

    .link {
      text-decoration: none;
      color: inherit;
    }

    // LOGIN

    .auth {

      font-family: $paragraph-font;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      box-shadow: 0 0 20px 20px $dark-tan;


      h1 {
        font-family: $title-font;
        font-size: $font-size2;
        color: $brown;
        margin-bottom: 0;
        margin-top: 0;
        align-items: center;
        justify-content: center;
      }

      h1, form {
        background-color: $pink;
        width: 40vw;
        gap: 20px;
        display: flex;
        flex-direction: column;
        padding: 8vh;
      }

      form {

        input {
          font-family: $misc-font;
          background-color: white;
          padding: 20px;
          border: none;
          border-bottom: 1px solid $brown;
          font-size: $font-size4;
        }

        button {
          font-family: $misc-font;
          padding: 20px;
          border: none;
          background-color: $brown;
          color: white;
          cursor: pointer;
          font-size: $font-size4;
        }

        p {
          background-color: $pink;
          font-family: $paragraph-font;
          font-size: $font-size4;
          color: $brown;
          text-align: center;
        }
      }
    }

    // NAVBAR

    .navbar {

      font-family: $paragraph-font;
      color: $brown;
      background-color: $pink;
      min-width: 100vw;
      height: 15vh;

      .container {

        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pink;
        height: 7vh;
        position: absolute;
        top: 0;
        width: 100%;

        .links {
          background-color: $pink;
          display: flex;
          gap: 20px;
          align-items: center;
          margin-top: 100px;

          .logo {
            background-color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 21vw;
            font-size: 0;
          }

          h6 {
            color: $brown;
            background-color: $pink;
            font-size: $font-size4;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .admin {
            font-size: $font-size5;
            width: 70px;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .link {
            color: $brown;
            background-color: $pink;
            margin: 0;
            padding: 0;
            width: 120px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .insta {
            background-color: $pink;
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    // HOMEPAGE

    .home {

        height: 100%;
        background-image: linear-gradient($dark-tan 10%, 20%, $tan);

      .title-container {

        font-family: $title-font;
        color: $brown;
        display: grid;
        align-items: center;
        justify-content: left;
        padding: 400px 100px;
        float: left;

        h1 {
          font-size: $font-size1;
          margin-bottom: 0;
        }

        h2 {
          font-size: $font-size2;
          margin-top: 0;
        }

      }

      .flowers {

        display: flex;
        align-items: center;
        justify-content: right;
        padding: 125px 95px;

        img {

          width: 820px;

        }

      }

    }

  }
}
