$tan : #FAEBDC;
$dark-tan : #EDD8C7;
$pink : #FAE7E2;
$orange : #FA5537;
$brown : #9B2434;
$dark-brown : #863527;
$darker-brown : #622423;

$background-gradient : linear-gradient($dark-tan 5px, 60px, $tan 120px);

$font-size1 : 80px;
$font-size2 : 50px;
$font-size3 : 35px;
$font-size4 : 26px;
$font-size5 : 18px;
$font-size6 : 12px;
$title-font: "Adorn Copperplate", "Balthazer", serif;
$paragraph-font: "Meno Banner", "Playfair Display", serif;
$misc-font: "Libre Franklin", sans-serif;

$transition-time: 300ms;
$transition-type: ease-in;

@font-face {
  font-family: "Adorn Copperplate";
  src: url("./fonts/adorn-copperplate.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Meno Banner";
  src: url("./fonts/meno-banner/MenoBanner-Light.otf");
}

.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.libre-franklin {
   font-family: "Libre Franklin", sans-serif;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
}

body {
  background-color: $tan;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

@keyframes text-load {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  70% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes wipe {
  0% {
    opacity: 1;
    -mask-position: 100%;
  }

  70% {
    -mask-position: 30%;
  }

  100% {
    opacity: 1;
    -mask-position: 0;
  }
}

body {
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

.app {

  display: flex;
  justify-content: center;

  .container {

    .link {
      text-decoration: none;
      color: inherit;
    }

    // NAVBAR

    .navbar-mobile {
      display: none;
    }

    .navbar {

      font-family: $paragraph-font;
      color: $dark-brown;
      background-color: $pink;
      min-width: 100vw;
      height: 110px;
      //padding-bottom: 2%;

      .navbar-container {

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $pink;
        height: 80px;

        top: 0;
        width: 100%;

        .links {
          background-color: $pink;
          display: flex;
          gap: 20px;
          align-items: center;
          padding-top: 50px;

          // Underline from left

          .hvr-underline-from-left {
            display: inline-block;
            position: relative;
            color: $dark-brown;
          }

          .hvr-underline-from-left:after {
            content: '';
            position: absolute;
            width: 70%;
            transform: scaleX(0);
            height: 1.4px;
            bottom: -7px;
            left: 15%;
            background-color: $dark-brown;
            transform-origin: bottom right;
            transition: transform 200ms ease-out;
          }

          .hvr-underline-from-left:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          .hvr-underline-from-left-orange {
            display: inline-block;
            position: relative;
            color: $orange;
          }

          .hvr-underline-from-left-orange:after {
            content: '';
            position: absolute;
            width: 70%;
            transform: scaleX(0);
            height: 1.4px;
            bottom: -7px;
            left: 15%;
            background-color: $orange;
            transform-origin: bottom right;
            transition: transform 200ms ease-out;
          }

          .hvr-underline-from-left-orange:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

          img { // logo
            width: 35%;
            height: auto;
            background-color: $pink;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 38%;
            font-size: 0;
          }

          h5 {
            font-size: $font-size4;
            color: $dark-brown;
          }

          h6 {
            font-size: $font-size5;
            color: $orange;
          }

          span {
            cursor: pointer;
          }

          .admin {
            width: 7%;
            height: 5%;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .link {
            color: $dark-brown;
            background-color: $pink;
            margin: 0;
            padding: 0;
            width: 120px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .insta {
            background-color: $pink;
            margin: 0;
            padding: 0;

            .icon:hover {
              transform: scale(1.2);
            }
          }

          .link1 {
            animation: text-load $transition-time $transition-type;
          }
          .link2 {
            animation: text-load $transition-time $transition-type 50ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
          .link3 { // logo
            animation: text-load $transition-time $transition-type 250ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
          .link4 {
            animation: text-load $transition-time $transition-type 400ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
          .link5 {
            animation: text-load $transition-time $transition-type 450ms;
            animation-fill-mode: both;
            transform: scale(0);
          }
        }
      }
    }

    // LOGIN (and register)

    .auth {

      //background-image: linear-gradient($dark-tan 100px, 400px, $tan 500px);
      background-image: $background-gradient;
      display: flex;
      align-items: center;
      justify-content: center;

      .auth-container {

        display: flex;
        flex-direction: column;
        font-family: $paragraph-font;
        background-color: white;
        border: 20px solid white;
        border-radius: 20px;
        width: 500px;
        height: 550px;
        margin-top: 50px;

        animation: text-load $transition-time $transition-type;

        h1 {
          font-family: $paragraph-font;
          font-size: $font-size3;
          color: $dark-brown;
          margin-bottom: 20px;
          margin-top: 0;
          align-items: center;
          justify-content: center;
        }

        h1, form {
          gap: 20px;
          display: flex;
          flex-direction: column;
        }

        form {

          input {
            font-family: $paragraph-font;
            font-size: $font-size5;
            padding: 15px;
            margin: 0 20px;
            border: 5px dotted $pink;
            border-radius: 20px;
          }

          button {
            font-family: $paragraph-font;
            padding: 10px;
            margin: 0 20px;
            border: 5px solid $pink;
            background-color: $pink;
            border-radius: 20px;
            color: $dark-brown;
            cursor: pointer;
            font-size: $font-size4;
          }

          button:hover {
            background-color: $dark-brown;
            color: white;
            border-color: $dark-brown;
          }

          p {
            font-family: $paragraph-font;
            font-size: $font-size4;
            color: $orange;
            text-align: center;
            margin: 0 -5px;

            .hvr-underline-from-left {
              display: inline-block;
              position: relative;
              color: $dark-brown;
              text-decoration: none;
              margin-left: 15px;
            }
  
            .hvr-underline-from-left:after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 1.4px;
              bottom: -7px;
              left: 0;
              background-color: $dark-brown;
              transform-origin: bottom right;
              transition: transform 200ms ease-out;
            }
  
            .hvr-underline-from-left:hover:after {
              transform: scaleX(1);
              transform-origin: bottom left;
            }
          }
        }
      }

      .login-container { // login has different size
        height: 350px;

        form {
          p {
            margin-top: -30px;
          }
        }
      }
    }

    // HOMEPAGE

    .home {

      background-image: $background-gradient;

      .title-container {

        color: $brown;
        display: table;
        padding: 23% 8%;
        float: left;
        text-align: center;

        h1 {
          font-family: $title-font;
          font-size: 5.5vw;
          margin-bottom: 0;
          animation: text-load $transition-time $transition-type;

          .first-letter {
            font-size: 1.3em;
          }
        }

        h2 {
          font-family: $paragraph-font;
          font-size: 2.5vw;
          margin-top: 0;
          vertical-align: middle;
          animation: text-load $transition-time $transition-type;
        }

      }

      .flowers {

        display: flex;
        align-items: center;
        justify-content: right;
        padding: 6% 8%;
        animation: wipe 1s $transition-type;

        opacity: 0;
        -mask-image: linear-gradient(to left, #0000 50%, #000 51%);
        -mask-size: 500%;
        animation-fill-mode: forwards;

        img {
          width: calc(150px + 90%);
          height: auto;
        }
      }
    }

    // ABOUT PAGE

    .about {

      background-image: $background-gradient;

      .half-moon-bay {

        color: $brown;
        display: table;
        padding-top: 0;
        padding-bottom: 110px;
        text-align: center;

        animation: wipe 1s $transition-type;

        opacity: 0;
        -mask-image: linear-gradient(to left, #0000 50%, #000 51%);
        -mask-size: 500%;
        animation-fill-mode: forwards;

        img {
          width: 100%;
          animation: text-load $transition-time $transition-type;
        }
      }

      .about-container {

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2%;

        img {
          width: 30%;
        }
      }

    }

    // POSTS GALLERY

    .posts {

      background-image: $background-gradient;

      padding: 3% 3%;
      display: flex;
      flex-direction: row;
      gap: 40px;

      .post {

        display: flex;
        flex-direction: column;
        gap: 10%;

        .image {
          display: inline-block;
          overflow: hidden;
        }

        .image img {

          width: 100%;
          height: 400px;
          object-fit: cover;
          display: block;
          transition: $transition-time ease-in-out;

          animation: wipe 1s $transition-type;
          opacity: 0;
          -mask-image: linear-gradient(to left, #0000 50%, #000 51%);
          -mask-size: 500%;
          animation-fill-mode: forwards;

        }

        .image:hover img {
          transform: scale(1.07);
        }

        .content {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h1 {
            font-family: $title-font;
            font-size: $font-size3;
            color: $dark-brown;
            animation: text-load $transition-time $transition-type;
          }

          p {
            font-family: $paragraph-font;
            font-size: $font-size4;
            color: $orange;
            animation: text-load $transition-time $transition-type;
          }
        }
      }
    }

    // SINGLE POST

    .single {

      background-image: $background-gradient;

      .post {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 40px;
        margin: 0 10%;

        .title h1 {
          font-family: $title-font;
          font-size: $font-size1;
          color: $dark-brown;
          animation: text-load $transition-time $transition-type;
        }

        .image img {
          width: 100%;

          animation: wipe 1s $transition-type;
          opacity: 0;
          -mask-image: linear-gradient(to left, #0000 50%, #000 51%);
          -mask-size: 500%;
          animation-fill-mode: forwards;
        }

        .content p {
          text-align: justify;
          font-family: $paragraph-font;
          font-size: $font-size4;
          color: $dark-brown;
          white-space: pre-line; // convert "/n" to <br>
          animation: text-load $transition-time $transition-type;
        }

        .bottom {

          display: flex;
          align-items: center;
          justify-content: center;
          gap: 100px;
          color: white;
          font-size: $font-size4;
          animation: text-load $transition-time $transition-type;
          margin-bottom: 150px;

          .edit {
            //margin-bottom: 150px;

            .icon:hover {
              transform: scale(1.2);
            }
          }

          .hvr-underline-from-left {
            text-decoration: none;
            display: inline-block;
            position: relative;
            color: white;
          }

          .hvr-underline-from-left:after {
            content: '';
            position: absolute;
            width: 100%;
            transform: scaleX(0);
            height: 1.4px;
            bottom: 20px;
            left: 0;
            background-color: white;
            transform-origin: bottom right;
            transition: transform 200ms ease-out;
          }

          .hvr-underline-from-left:hover:after {
            transform: scaleX(1);
            transform-origin: bottom left;
          }

        }

      }

    }

    // WRITE

    .write-post {

      background-image: $background-gradient;
      gap: 20px;
      font-family: $paragraph-font;
      color: $dark-brown;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;

      .upload-container {
        background-color: white;
        border: 20px solid white;
        border-radius: 20px;
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 50px;
        flex: 1;

        animation: text-load $transition-time $transition-type;

        h1 {
          flex: 1;
        }

        .uploads {
          flex: 5;
          width: 100%;
          font-size: $font-size5;
          border: 5px dotted $pink;
          border-radius: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .write-container {
        background-color: white;
        border: 20px solid white;
        border-radius: 20px;
        width: 850px;
        height: 450px;
        margin-top: 50px;
        margin-bottom: 50px;
        margin-right: 50px;
        flex: 5;

        animation: text-load $transition-time $transition-type;

        .content {
          flex: 5;
          display: flex;
          flex-direction: column;
          gap: 10px;

          input {
            padding: 10px;
            border: 5px dotted $pink;
            border-radius: 20px;
          }

          .editor-container { // react-quilljs
            height: 250px;
            overflow-y: scroll;
            border: 5px solid $pink;
            border-radius: 20px;

            .editor {
              height: 100%;
              border: none;
            }
          }
        }

        .menu {

          font-size: $font-size5;
          border: 5px dotted $pink;
          border-radius: 20px;
          gap: 10px;
          margin-top: 10px;
          padding: 10px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          h1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .spans {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
          }

          label {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }

          .upload-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 10px;

            label {
              padding: 5px;
              margin: 0 20px;
              border: 5px solid $pink;
              background-color: $pink;
              border-radius: 20px;
              color: $dark-brown;
              cursor: pointer;
              font-size: $font-size5;
            }

            label:hover {
              background-color: $orange;
              color: white;
              border-color: $orange;
            }
          }

          .save-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;

            button {
              padding: 5px;
              margin: 0 20px;
              border: 5px solid $pink;
              background-color: $pink;
              border-radius: 20px;
              color: $dark-brown;
              cursor: pointer;
              font-size: $font-size5;
              font-family: $paragraph-font;
            }

            button:hover {
              background-color: $dark-brown;
              color: white;
              border-color: $dark-brown;
            }
          }
        }
      }

    }

    .page-not-found {

      background-image: $background-gradient;
      gap: 10px;
      font-family: $paragraph-font;
      color: $dark-brown;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      img {
        width: 750px;
        margin-top: 50px;
      }

      h1 {
        font-family: $paragraph-font;
        font-size: $font-size3;
      }

    }

  }

  //////////////////////////////////////////////////////////////
  //////////////////////////////////////////////////////////////

  @media (max-width: 786px) { // for mobile devices and tablets

    .container {

      .navbar {
        display: none;
      }

      .navbar-mobile {

        font-family: $paragraph-font;
        color: $dark-brown;
        background-color: $pink;
        min-width: 100vw;
        height: 45px;
        display: flex;
        padding: 8% 8%;

        .navbar-container {

          .logo {

            padding: 0 0;
            align-items: center;
            justify-content: center;
            height: 7%;
            position: absolute;
            top: 0;
            width: 100%;
            animation: text-load $transition-time $transition-type;

            img {
              padding: 10% 25%;
              font-size: 0;
              width: 38%;
            }

          }
        }

        .navbar-container-open {

          padding: 0 0;
          display: block;
          align-items: center;
          justify-content: center;
          position: absolute;
          background-color: $pink;
          color: $orange;
          height: 120%;
          top: 100px;
          width: 1000px;
          z-index: 1;
          margin-left: -250px;

          .links {

            .link {

              font-size: $font-size2;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0 0;
              margin-top: 5%;

              animation: text-load $transition-time $transition-type;
            }
          }

        }

      }

      .home {

        .title-container {
          width: 100%;
          padding: 0 0;

          h1 {
            font-size: 4em;
          }

          h2 {
            font-size: $font-size4;
          }
        }

        .flowers {

          img {
            width: 100%;
          }
        }
      }

      .about {

        .half-moon-bay {
          padding-bottom: 45px;
        }
        .about-container {
          flex-direction: column;

          img {
            width: 92%;
            padding: 2% 0;
          }
        }
      }

      .posts {
        flex-direction: column;

        .post {

          .content {

            h1 {
              font-size: $font-size1;
            }

            p {
              font-size: $font-size2;
            }
          }
        }
      }
      
      .write-post {

        flex-direction: column;

        .upload-container {
          width: 400px;
          padding: 0;
          margin: 0;
          margin-top: 40px;
        }

        .write-container {

          width: 400px;
          padding: 0;
          margin: 0;

          .menu {
            font-size: $font-size6;

            h1 {
              font-size: $font-size5;
              margin: 0 30px;
            }

            .upload-buttons {

              label {
                font-size: $font-size6;
              }
            }

            .save-buttons {
              gap: 5px;

              button {
                font-size: $font-size6;
              }
            }
          }
        }

      }

      .page-not-found {

        img {
          width: 500px;
        }
      }
    }
  }
}
