@font-face {
  font-family: "Adorn Copperplate";
  src: url("./fonts/adorn-copperplate.otf");
  font-weight: 800;
}
@font-face {
  font-family: "Meno Banner";
  src: url("./fonts/meno-banner/MenoBanner-Light.otf");
}
.balthazar-regular {
  font-family: "Balthazar", serif;
  font-weight: 400;
  font-style: normal;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.libre-franklin {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #FAEBDC;
  background-size: cover;
  margin: 0;
  height: 100vh;
}

@keyframes text-load {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  70% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes wipe {
  0% {
    opacity: 1;
    -webkit-mask-position: 100%;
  }
  70% {
    -webkit-mask-position: 30%;
  }
  100% {
    opacity: 1;
    -webkit-mask-position: 0;
  }
}
body {
  overflow-x: hidden;
}

.app {
  display: flex;
  justify-content: center;
}
.app .container .link {
  text-decoration: none;
  color: inherit;
}
.app .container .auth {
  font-family: "Meno Banner", "Playfair Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30% 0;
  box-shadow: 0 0 40px 40px #EDD8C7;
  width: 100%;
  height: auto;
  animation: text-load 300ms ease-in;
}
.app .container .auth h1 {
  font-family: "Adorn Copperplate", "Balthazer", serif;
  font-size: 2.4vw;
  color: #FA5537;
  margin-bottom: 0;
  margin-top: 0;
  align-items: center;
  justify-content: center;
}
.app .container .auth h1, .app .container .auth form {
  background-color: #FAE7E2;
  width: 100%;
  gap: 4%;
  display: flex;
  flex-direction: column;
  padding: 7%;
}
.app .container .auth form input {
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.8vw;
  background-color: white;
  padding: 4%;
  border: none;
  border-bottom: 1px solid #FAE7E2;
}
.app .container .auth form button {
  font-family: "Libre Franklin", sans-serif;
  padding: 4%;
  border: none;
  background-color: #863527;
  color: white;
  cursor: pointer;
  font-size: 1.8vw;
}
.app .container .auth form p {
  background-color: #FAE7E2;
  font-family: "Meno Banner", "Playfair Display", serif;
  font-size: 1.8vw;
  color: #FA5537;
  text-align: center;
  margin-top: 20%;
}
.app .container .navbar-mobile {
  display: none;
}
.app .container .navbar {
  font-family: "Meno Banner", "Playfair Display", serif;
  color: #863527;
  background-color: #FAE7E2;
  min-width: 100vw;
  height: 10%;
}
.app .container .navbar .navbar-container {
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FAE7E2;
  height: 7%;
  position: absolute;
  top: 0;
  width: 100%;
}
.app .container .navbar .navbar-container .links {
  background-color: #FAE7E2;
  display: flex;
  align-items: center;
  padding-top: 7%;
}
.app .container .navbar .navbar-container .links .hvr-underline-from-left {
  display: inline-block;
  position: relative;
  color: #863527;
}
.app .container .navbar .navbar-container .links .hvr-underline-from-left:after {
  content: "";
  position: absolute;
  width: 70%;
  transform: scaleX(0);
  height: 1.4px;
  bottom: -7px;
  left: 15%;
  background-color: #863527;
  transform-origin: bottom right;
  transition: transform 200ms ease-out;
}
.app .container .navbar .navbar-container .links .hvr-underline-from-left:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.app .container .navbar .navbar-container .links img {
  width: 35%;
  height: auto;
  background-color: #FAE7E2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 38%;
  font-size: 0;
}
.app .container .navbar .navbar-container .links h5 {
  font-size: 1.8vw;
  color: #863527;
}
.app .container .navbar .navbar-container .links h6 {
  font-size: 1.2vw;
  color: #FA5537;
}
.app .container .navbar .navbar-container .links span {
  cursor: pointer;
}
.app .container .navbar .navbar-container .links .admin {
  width: 7%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .container .navbar .navbar-container .links .link {
  color: #863527;
  background-color: #FAE7E2;
  margin: 0;
  padding: 0;
  width: 120px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.app .container .navbar .navbar-container .links .insta {
  background-color: #FAE7E2;
  margin: 0;
  padding: 0;
}
.app .container .navbar .navbar-container .links .link1 {
  animation: text-load 300ms ease-in;
}
.app .container .navbar .navbar-container .links .link2 {
  animation: text-load 300ms ease-in 50ms;
  animation-fill-mode: both;
  transform: scale(0);
}
.app .container .navbar .navbar-container .links .link3 {
  animation: text-load 300ms ease-in 250ms;
  animation-fill-mode: both;
  transform: scale(0);
}
.app .container .navbar .navbar-container .links .link4 {
  animation: text-load 300ms ease-in 400ms;
  animation-fill-mode: both;
  transform: scale(0);
}
.app .container .navbar .navbar-container .links .link5 {
  animation: text-load 300ms ease-in 450ms;
  animation-fill-mode: both;
  transform: scale(0);
}
.app .container .home {
  background-image: linear-gradient(#EDD8C7 0.5%, 2.5%, #FAEBDC 5%);
  position: relative;
}
.app .container .home .title-container {
  color: #9B2434;
  display: table;
  padding: 23% 8%;
  float: left;
  text-align: center;
}
.app .container .home .title-container h1 {
  font-family: "Adorn Copperplate", "Balthazer", serif;
  font-size: 5.2vw;
  margin-bottom: 0;
  animation: text-load 300ms ease-in;
}
.app .container .home .title-container h1 .first-letter {
  font-size: 1.3em;
}
.app .container .home .title-container h2 {
  font-family: "Meno Banner", "Playfair Display", serif;
  font-size: 2.4vw;
  margin-top: 0;
  vertical-align: middle;
  animation: text-load 300ms ease-in;
}
.app .container .home .flowers {
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 4% 8%;
  animation: wipe 1s ease-in;
  opacity: 0;
  -webkit-mask-image: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, #000 51%);
  -webkit-mask-size: 500%;
  animation-fill-mode: forwards;
}
.app .container .home .flowers img {
  width: 120%;
  height: auto;
}
@media (max-width: 786px) {
  .app .container .navbar {
    display: none;
  }
  .app .container .navbar-mobile {
    font-family: "Meno Banner", "Playfair Display", serif;
    color: #863527;
    background-color: #FAE7E2;
    min-width: 100vw;
    height: 5%;
    display: flex;
    padding: 8% 8%;
  }
  .app .container .navbar-mobile .navbar-container .logo {
    padding: 0 0;
    align-items: center;
    justify-content: center;
    height: 7%;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .app .container .navbar-mobile .navbar-container .logo img {
    padding: 10% 25%;
    font-size: 0;
    width: 38%;
  }
  .app .container .navbar-mobile .navbar-container-open {
    padding: 0 0;
    margin-left: -8%;
    display: block;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #FAE7E2;
    color: #FA5537;
    height: 160%;
    top: 20%;
    width: 100%;
    z-index: 1;
  }
  .app .container .navbar-mobile .navbar-container-open .links .link {
    font-size: 5.2vw;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    margin-top: 5%;
    animation: text-load 300ms ease-in;
  }
  .app .container .home {
    background-image: linear-gradient(#EDD8C7 0.5%, 1.5%, #FAEBDC 10%);
  }
  .app .container .home .title-container {
    width: 100%;
    padding: 0 0;
  }
  .app .container .home .title-container h1 {
    font-size: 4em;
  }
  .app .container .home .title-container h2 {
    font-size: 4vw;
  }
  .app .container .home .flowers img {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
